/*eva
Colors used
Text Color (black): #231815
Third Color (Dark Gray): #2757474;
Secondary Color (red): #742418;
Primary Color (light grey): #E6E5E5;
hover: RGB(219, 202, 207)
 */
 :root {
   --background-color:RGB(219, 202, 207);
   --primary-color: #E6E5E5;
   --secondary-color: white;
   --link-color: #742418;
   --visited-link-color: #231815;
   --active-link-color: #231815;
   --color:#231815;
   --secondary-bg-color: #231815;
   --button-text-primary: #231815;
   --button-text-secondary: #231815;
   --sun-transition-color-0: #edc655;
   --sun-transition-color-50: #fcffad;
   --sun-transition-color-100: #f76414;
   --grid-bg-color: #E6E5E5;
   --primary-font-size: 16px;
   --primary-font-weigth: 400;
   --h1-font-family:"Lobster"; cursive;
   --h1-font-size: 30px;
   --h1-font-weight: 700;
   --h2-font-size: 20px;
   --h2-font-weight: 700;
   --h3-font-size: 16px;
   --h3-font-weight: 700;

}
* {
  box-sizing:border-box;
}

body{
font-family: "Raleway",sans-serif;
font-weight: var(--primary-font-weight);
font-size: var(primary-font-size);
line-height: 1.4;
background-color: var(--background-color);
}


h1{
  font-family:var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}
h2{
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}
h3{
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

/*no underlining when hovering over a link= text-decoration:none*/

a:visited,
a:focus{
color:var(--visited-link-color);
text-decoration: none;
}
a:active {
  color: var(--active-link-color);
}
a:hover, a:focus
{text-decoration: none;
}


.button,
button {
  border: none;
  font-family:inherit ;
  background-color: var(--primary-color);
  color: var(--button-text-primary);
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  border-bottom:2px solid rgba(0,0,0,0.8)}
/*mouseover with changing the mouse figure*/
button:hover,
button:focus,
.button:hover
.button:focus
{cursor: pointer;
  opacity: 0.8;}

  .button__secondary {
    background-color: var(--secondary-bg-color);
    color: var(--button-text-secondary);
  }

.profile__portrait {
  float: left;
  width: 200px;
  margin-right: 40px;

}

.profile{
  max-width: 700px;
  margin: 0 auto;
}

.profile__text{
  flex: 1 1 100px;
}

.header{
font-family: "Raleway",sans-serif;
font-weight: 400;
font-size: 16px;
}

.page-header{
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 100px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align:right;
}

.navigation-list {
  list-style-type: none;
  text-decoration: none;
}

.navigation-list li{
  display:inline-block;
  margin-left: 15px;
  text-decoration: none;
}

.navigation-list__item:hover{
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 30px;
}

.navigation-list__item--active {
  text-decoration: none;
}


/*footer*/

.page-footer {
    text-align: center;
    clear: both;
    display: flex;
    flex-direction: column;
}
/*--about section--*/

.about{
  display: block;
  text-align: center;
  background-color: RGB(219, 202, 207);
  padding: 5px;
}

.about-table{
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 2px;
}

.button_2nd {
  display: inline-block;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: RGB(219, 202, 207);
  border-radius: 30px;
  padding:15px;
  text-decoration: none;
  font-family: inherit;
  border-style: dashed;
  border-color: white;
}

.button_2nd:hover
.button_2nd:focus{
  cursor:grab;
  opacity: 80%;
  transition: 1s opacity;
}

/*animation of the navigation in my about page*/
/* Highlight text in  */

/*---contact section*---*/

.contact{
  display: block;
  text-align: center;
}

.contact-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

/*  --------   stopped at css grid layout ------  */
/*work section*/
.work{
  display: block;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item:hover{
  background-color:var(--secondary-color);
  opacity: 90%;
}

.grid__item{
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  width: auto;
}

.grid__item:last-child{
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

/*---Task 1.7. make it responive for any screens--*/
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: var(--h1-font-size);
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: var(--h1-font-size);
  }
}

/*animation purposes for task 1.7*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/*animation short way*/

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 10s cloud-move-reverse infinite alternate linear;
}

.berlin-illustration{
  display: block;
  margin: 0 auto;
}
